@model BibliotecaMvc.Models.BooksViewModel;

@{
    ViewData["Title"] = "Library Books";

}

<div class="container">
   @foreach (var book in Model.Books)
   {
       <p>@book.Title</p>
   }
   @foreach (var author in Model.Authors)
   {
       <p>@author.Name</p>
   }
</div>