@model BibliotecaMvc.Models.TodayDate;

@{
    ViewData["Title"] = "Home Page";
}

<h3>Welcome to Fabio's Library. Today is @Model.daynow.ToString("dddd")</h3>


<ul>
    <h3>Books</h3>
    <li>
        <a class="btn btn-primary"
            asp-controller="Library"
            asp-action="Books">
            Access Books List
        </a>
    </li>
    <li>
        <a class="btn btn-primary"
            asp-controller="Library"
            asp-action="AddB">
            Add New Book
        </a>
    </li>
    <li>
        <a class="btn btn-primary"
            asp-controller="Library"
            asp-action="UpdateBook">
            Update Book Information
        </a>
    </li>
    <li>
        <a class="btn btn-primary"
            asp-controller="Library"
            asp-action="DeleteBook">
            Delete Book 
        </a>
    </li>
</ul>

<ul>
    <h3>Authors</h3>
    <li>
        <a class="btn btn-primary"
            asp-controller="Library"
            asp-action="Authors">
            Access Authors List
        </a>
    </li>
    <li>
        <a class="btn btn-primary"
            asp-controller="Library"
            asp-action="AddA">
            Add New Author 
        </a>
    </li>
     <li>
        <a class="btn btn-primary"
            asp-controller="Library"
            asp-action="UpdateAuthor">
            Update Author Information 
        </a>
    </li>
    <li>
        <a class="btn btn-primary"
            asp-controller="Library"
            asp-action="DeleteAuthor">
            Delete Author 
        </a>
    </li>
</ul>