@model BibliotecaMvc.Models.TodayDate;

@{
    ViewData["Title"] = "Home Page";
}

<h3>Welcome to Fabio's Library. Today is @Model.daynow.ToString("dddd")</h3>

<a class="btn btn-primary"
    asp-controller="Library"
    asp-action="Books">
    Access Books List
</a>

<a class="btn btn-primary"
    asp-controller="Library"
    asp-action="Authors">
    Access Authors List
</a>

<a class="btn btn-primary"
    asp-controller="Library"
    asp-action="AddB">
    Add New Books
</a>