@model IEnumerable<ImobiliariaEntities.Dono>;

@{

    ViewData["Title"] = "Lista de Donos";

}

<a class="btn btn-dark"
    asp-controller="Dono"
    asp-action="AddDono">
    Adiciona Dono
</a>

<a class="btn btn-dark"
   asp-controller="Dono"
   asp-action="AlteraDono">
   Altera Dono
</a>

<table class="table table-stripped table-bordered">
    <legend>Lista de Donos</legend>
    <thead>
        <th>Cpf</th>
        <th>Nome</th>
        <th>Idade</th>
        <th>Imovel</th>
    </thead>
    <tbody>
        @foreach (var dono in Model)
        {
            <tr>
                <td>@dono.id</td>
                <td>@dono.nome</td>
                <td>@dono.idade</td>
                <td>@dono.imovel</td>              
            </tr>
        }
    </tbody>
</table>
