################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Library/.vs
/Library/Library.Application/obj
/Library/Library.WebApi/obj
/Library/Library.WebApi/bin/Debug/net7.0
/Library/Library.Infrastructure/obj
/Library/Library.Domain/obj
/Library/Library.Infrastructure/bin/Debug/net7.0
/Library/Library.Application/bin/Debug/net7.0
/Library/Library.Domain/bin/Debug/net7.0
