@model ImobiliariaMvc.Models.AgenciaViewModel;

@{

    ViewData["Title"] = "Adicionando Agência";

}

<form class="form" method="POST">
    <legend>Adicionando Agência</legend>
    <label>ID: </label>
        <input class="form-control" asp-for="Agencia.id" placeholder="ID..." required/>
    <label>Nome: </label>
        <input class="form-control" asp-for="Agencia.nome" placeholder="Nome..." required/>
    <label>Cidade: </label>
        <input class="form-control" asp-for="Agencia.cidade" placeholder="Cidade..." required/>
    <label>ID Corretores: </label>
        <input class="form-control" asp-for="Agencia.idCorretores" placeholder="ID Corretores..." required/>
    <label>ID Imovéis: </label>
        <input class="form-control" asp-for="Agencia.idImoveis" placeholder="ID Imovéis..." required/>
    <input class="btn btn-dark" type="submit" placeholder="Enviar"/>
</form>