@model IEnumerable<ImobiliariaEntities.Agencia>

@{

    ViewData["Title"] = "Lista de Agencias";

}

<a class="btn btn-dark"
   asp-controller="Agencia"
   asp-action="AddAgencia">
   Adiciona Agência
</a>

<a class="btn btn-dark"
   asp-controller="Agencia"
   asp-action="AlteraAgencia">
   Altera Agência
</a>

<a class="btn btn-dark"
   asp-controller="Agencia"
   asp-action="DeletaAgencia">
   Deleta Agência
</a>

<table class="table table-stripped table-bordered table-hover">
    <legend>Lista de Agências</legend>
    <thead>
        <th>ID</th>
        <th>Nome</th>
        <th>Cidade</th>
        <th>Id Corretores</th>
        <th>Id Imoveis</th>
    </thead>
    <tbody>
        @foreach (var agencia in Model)
        {
            <tr>
                <td>@agencia.id</td>
                <td>@agencia.nome</td>
                <td>@agencia.idCorretores</td>
                <td>@agencia.idImoveis</td>              
            </tr>
        }
    </tbody>
</table>

