@model BibliotecaEntitiesLib.Books;

@{
    ViewData["Title"] = "Library More Books";

}

<form class="form" method="POST">
    <label>ISBN: </label>
        <input class="form-control" asp-for="ISBN" required/>
    <label>Title: </label>
        <input class="form-control" asp-for="Title" required>
    <label>Author: </label>
        <input class="form-control" asp-for="Author" required>
    <label>Genre: </label>
        <input class="form-control" asp-for="Genre" required>
    <label>Year: </label>
        <input class="form-control" asp-for="Year" required>
    <input class="btn btn-dark" type="submit">
</form>