@model BibliotecaEntitiesLib.Author;

@{
    ViewData["Title"] = "Search Author";

}

<form class="form" method="POST">
    <legend>Author Information</legend>
    <label>Id: </label>
        <input class="form-control" name="id" required/>
    <input class="btn btn-dark" type="submit">
</form>

@if(Model != null){
   <table class="table table-bordered table-stripped table-hover">
       <thead class="thead-dark">
           <th>Id</th>
           <th>Title</th>
           <th>Books</th>
           <th>Country</th>
       </thead>
       <tbody>
           <tr>
               <td>@Model.Id</td>
               <td>@Model.Name</td>
               <td>@Model.Books</td>
               <td>@Model.Country</td>
           </tr>
       </tbody>
   </table>

}