@model ConcessionariaMvc.Models.HomeViewModel;

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h2>Bem-vindo</h2>
    <h3>Hoje é dia @Model.data.DayOfWeek</h3>
</div>


<h4>Opções da Concessionaria</h4>
<div class="container opagencia">
    <ul>
        <li>
            <a class="link-item btn btn-dark"
            asp-controller="Carro"
            asp-action="Carros">
                Lista de Carros
            </a>
        </li>
        <li>
            <a class="link-item btn btn-dark"
            asp-controller="Carro"
            asp-action="AddCarro">
                Inserir Carro
            </a>
        </li>
        <li>
            <a class="link-item btn btn-dark"
            asp-controller="Carro"
            asp-action="ConsultaCarro">
                Consulta Carro
            </a>
        </li>
        <li>
            <a class="link-item btn btn-dark"
            asp-controller="Carro"
            asp-action="DeletaCarro">
                Deleta Carro
            </a>
        </li>
    </ul>
    <ul>
        <li>
            <a class="link-item btn btn-dark"
            asp-controller="Agencia"
            asp-action="Agencias">
                Lista de Agências
            </a>
        </li>
        <li>
            <a class="link-item btn btn-dark"
            asp-controller="Agencia"
            asp-action="AddAgencia">
                Inserir Agência
            </a>
        </li>
        <li>
            <a class="link-item btn btn-dark"
            asp-controller="Agencia"
            asp-action="ConsultaAgencia">
                Consulta Agência
            </a>
        </li>
        <li>
            <a class="link-item btn btn-dark"
            asp-controller="Agencia"
            asp-action="DeletaAgencia">
                Deleta Agência
            </a>
        </li>
    </ul>
    <ul>
        <li>
            <a class="link-item btn btn-dark"
            asp-controller="Gerente"
            asp-action="Gerentes">
                Lista de Gerentes
            </a>
        </li>
        <li>
            <a class="link-item btn btn-dark"
            asp-controller="Gerente"
            asp-action="AddGerente">
                Inserir Gerente
            </a>
        </li>
        <li>
            <a class="link-item btn btn-dark"
            asp-controller="Gerente"
            asp-action="ConsultaGerente">
                Consulta Gerente
            </a>
        </li>
        <li>
            <a class="link-item btn btn-dark"
            asp-controller="Gerente"
            asp-action="DeletaGerente">
                Deleta Gerente
            </a>
        </li>
    </ul>
    <ul>
        <li>
            <a class="link-item btn btn-dark"
            asp-controller="Vendedor"
            asp-action="Vendedores">
                Lista de Vendedores
            </a>
        </li>
        <li>
            <a class="link-item btn btn-dark"
            asp-controller="Vendedor"
            asp-action="AddVendedor">
                Inserir Vendedor
            </a>
        </li>
        <li>
           <a class="link-item btn btn-dark"
           asp-controller="Vendedor"
           asp-action="ConsultaVendedor">
                Consulta Vendedor
           </a> 
        </li>
        <li>
            <a class="link-item btn btn-dark"
            asp-controller="Vendedor"
            asp-action="DeletaVendedor">
                Deleta Vendedor
            </a>
        </li>
    </ul>
</div>