@model ConcessionariaMvc.Models.HomeViewModel;

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h2>Bem-vindo</h2>
    <h3>Hoje é dia @Model.data.DayOfWeek</h3>
</div>


<h4>Opções da Concessionaria</h4>
<ul>
    <li>
        <a class="link-item btn-dark"
        asp-controller="Carro"
        asp-action="Carros">
            Lista de Carros
        </a>
    </li>
    <li>
        <a class="link-item btn-dark"
        asp-controller="Agencia"
        asp-action="Agencias">
            Lista de Agências
        </a>
    </li>
</ul>