
@{
    ViewData["Title"] = "Remoção de Vendedor";

}


<form class="form" method="POST">
    <label for="if">CPF: </label>
        <input class="form-control" name="id" required/>
        <input class="btn btn-dark" type="submit" placeholder="Enviar" />
</form>