@model ConcessionariaEntitiesLib.Carro;

@{
    ViewData["Title"] = "Remoção de Carro";

}

<form class="form" method="POST">
    <label>Chassi: </label>
        <input class="form-control" name="id" required/>
    <input class="btn btn-dark" type="submit"/>
</form>