@model ConcessionariaEntitiesLib.Gerente;

@{
    ViewData["Title"] = "Deleta Gerente";

}

<form class="form" method="POST">
    <label for="id">CPF: </label>
        <input class="form-control" name="id" required/>
        <input class="btn btn-dark" type="submit" placeholder="Enviar"/>
</form>