@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo</h1>
    <p>Faça uso dos serviços da Imobiliaria através da barra no topo da página.</p>
</div>



