@model ConcessionariaEntitiesLib.Agencia;

@{
    ViewData["Title"] = "Deleta Agência";

}

<form class="form" method="POST">
    <label for="id">Identificação agência para remoção: </label>
        <input class="form-control" name="id" required/>
        <input class="btn btn-dark" type="submit" placeholder="Enviar"/>
</form>