@model ImobiliariaMvc.Models.ImovelViewModel;

@{

    ViewData["Title"] = "Deleta Imóvel";

}

<form class="form" method="POST">
    <label>ID: </label>
        <input class="form-control" asp-for="Imovel.id" placeholder="ID..." required/>
        <input class="btn btn-dark" type="submit" placeholder="Enviar" />
</form>